<!DOCTYPE html>
<html lang="en" ng-app="MyNewApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes">
    <link rel="stylesheet" href="css/index.css">
</head>

<body ng-controller="MyNewAppController as ctrl">
    
    <p> App/Angular LOADED : {{ ctrl.loaded }}</p>

    <!-- SCRIPTS INCLUDED -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/app.module.js"></script>
    <script src="js/app.controller.js"></script>
</body>
</html>